@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-12">
        <center><h3>Sistema informatico para la Iglesia Campamento de Dios</h3></center>
        <center><img src="~/img/Logo ICAD.png" class="img-responsive" /></center>
    </div>
</div>